<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <!--为了便于开发，设置调试时的默认登录账户 测试一下-->
    <!--<add key="DebugUserId" value="7BCD2C62-D48D-4C88-A07E-2143265F4611"/>-->
    <!--超级管理员的账户-->
    <!--<add key="SuperAdminUserId" value="7BCD2C62-D48D-4C88-A07E-2143265F4611"/>-->
  </appSettings>
  <connectionStrings>
    <add name="P6Demo" connectionString="Data Source=|DataDirectory|OrgAuth.db;Version=3;New=True;" providerName="System.Data.SQLite" />
    <!--<add name="P6Demo" connectionString="data source=(local);initial catalog=OrgAuth;user id=sa;password=App1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="P6Demo" connectionString="data source=10.10.1.97;initial catalog=P6SysIntegration;user id=sa;password=123.zxc;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="P6Demo" connectionString="Server=dd060703-79c0-4d34-951c-a0e500802a85.sqlserver.sequelizer.com;Database=dbdd06070379c04d34951ca0e500802a85;User ID=fvqjcsidszwcraok;Password=z6EXQpcs4WhipPFc8Ps8WbifsaNBgpZaWaTRJvT6WtArKkZcwZfaQHKxWzEQJGmM;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="2880" />
    </authentication>
    <customErrors mode="Off"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
