@{
    Layout = "~/Views/Shared/_LayoutImport.cshtml";
}
<ol>
    <li>请点击“下载Excel模板”链接，下载Excel导入模板。</li>
    <li>一次性导入最好不要超过5000行数据，导入大量数据需要等待较长时间。</li>
    <li>上传的Excel格式必须和模板格式一致。</li>
    <li>上传的Excel工作表名（注：不是Excel文件名）必须是“用户”。</li>
    <li>如果导入失败，可尝试转换Excel为2003版再导入（注：当Excel版本高于2003时）。</li>
    <li>如果Excel的保存类型为网页类型（即Excel是从网页中导出的），请先保存为Excel工作簿类型。</li>
    <li>只导入用户名不能为空的行。</li>
    <li>相同用户是指用户名和账号均相同的数据。</li>
</ol>
